<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <!-- Include any global CSS or JS here -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <style>
    body {
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 100vh;
      background-color: #f8f9fa; /* Light gray background */
    }

    .admin-container {
      padding: 30px;
      border-radius: 10px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      background-color: #ffffff; /* White background for container */
      width: 80%; /* Adjust width for admin panel */
    }

    .btn-primary, .btn-warning {
      margin-top: 10px;
      padding: 10px 20px;
      border-radius: 5px;
    }

    .btn-danger {
      padding: 5px 10px;
      margin-left: 5px;
    }

    table {
      margin-top: 20px;
    }

    h1, h2 {
      margin-bottom: 20px;
    }
  </style>

</head>


<body>
    {{{body}}} <!-- This is where the page-specific content will be rendered -->
</body>
</html>
